@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: "Courier New", sans-serif;
}

body {
  background-color: #090909;
}

.landing {
  min-height: 100vh;
  background: url("./Pictures/services_background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0rem 5rem;
}

li, a, button {
  font-family:  "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  padding: 30px 10%;
  padding-bottom: 0px;
}

.logo {
  color: #edf0f1;
  cursor: pointer;
  padding-right: 75px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 30px;
}

.nav__links li a {
  transition:  all 0.3s ease 0s;
}

.nav__links li a:hover {
  color:  #0088a9
}

.button_pad {
  padding-left: 75px;
}

button {
  padding: 9px 25px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(0,136,169,0.8);
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 3rem;
  margin-top: 4rem;
  text-align: center;
}

.btn {
  font-size: 25px;
  padding: 20px 50px;
  background-color: rgba(0,136,169,1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  position: relative;
}

.btn:hover {
  background-color: rgba(0,136,169,0.8);
}

.header {
  font-size: 50px;
  color: whitesmoke;
  padding: 10px;
}

p {
  color: whitesmoke;
  font-size: 22px;
  padding-bottom: 50px;
}

.center {
  display:  block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 2rem;
}