@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');



/* ALL */

a:link { 
    text-decoration: none; 
    color: inherit;
} 

a:visited { 
    text-decoration: none; 
    color: inherit;
} 

a:active { 
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: rgb(38, 37, 44);
}

nav {
    padding: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 99;
}

nav a {
    display: inline-block;
    position: relative;
    letter-spacing: 5px;
    margin: 15px 50px;
    padding-bottom: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: scale(1);
    transition: transform 0.3s ease;
    z-index: 99;
}

nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    z-index: 99;
  }

nav a:hover {
    transform: scale(1.25);
    transition: transform 0.3s ease;
    z-index: 99;
}

nav a:hover:after { 
    width: 100%; 
    left: 0; 
    z-index: 99;
  }

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(51, 51, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.loader-wrapper.fade-out {
    opacity: 0;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fade_in {
    animation: fadeIn 1.5s;
    -webkit-animation:fadeIn 1s;
    -o-animation:fadeIn 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.fade_out {
    animation: fadeOut 1.5s;
}

.title_container {
    text-align: center;
}

.title_container h1 {
    display: inline-block;
    background-color: transparent;
    font-family: monospace;
    font-size: 75px;
    letter-spacing: 7px;
}

.mac-window {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80vw;
    height: 65vh;
    margin: auto;
    margin-bottom: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.title-bar {
    background-color: #F0F0F0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.mac-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.red { background-color: #FF6059; }
.yellow { background-color: #FFD74D; }
.green { background-color: #4ACF50; }

.mac-window_left,
.mac-window_right {
    width: 50%;
    box-sizing: border-box; 
    padding: 5px; 
}

.mac-window_left h3 {
    line-height: 20px;
    align-self: center;
    margin-left: 10px; 
}

.mac-window_right h3 {
    align-self: center;
    margin-left: 10px;
}



/* INDEX */

.drop {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    top: -30px;
    right: 65px;
    background: #fcb126;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
    -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  
  .drop:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid #fcb126;
    top: -22px;
  }

.index {
    background-color: rgb(38, 37, 44);
}

.index a {
    color: white;
}

.index_aboutMe {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 700px;
    background-color: #fff5de;
}

.index_aboutMe img {
    display: inline-block;
    width: 40%;
    margin-bottom: -50px;
    padding-left: 50px;
    border-radius: 100px;
}

.index_aboutMeBio {
    display: inline-block;
    width: 40%;
    text-align: center;
}

.index_aboutMeBio p {
    padding: 25px;
    font-size: 25px;
    letter-spacing: 2px;
    border-top: 2px dashed rgb(38, 37, 44);
    border-bottom: 2px dashed rgb(38, 37, 44);
}

.index_aboutMeBio a {
    text-decoration: underline;
    font-weight: bold;
    color: inherit;
}

.index_headerContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.index_headerContainer img {
    position: relative;
    height: 750px;
    right: 150px;
    background-color: transparent;
    z-index: 0;
}

.index_skillsSection h1 {
    color: rgb(38, 37, 44);
    margin-left: 10%;
    font-size: 40px;
} 

.skills-section {
    display: flex;
    width: 80%;
    margin: 25px auto;
    background-color: rgb(38, 37, 44);
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 40px;
    line-height: 50px;
  }
  
  .column {
    flex: 1;
    padding: 20px;
  }
  
  .skill {
    margin-bottom: 15px;
  }
  
  .language {
    font-size: 18px;
    font-weight: bold;
    color: #ecf0f1;
  }
  
  .progress-bar {
    margin-top: 2px;
    position: relative;
    height: 22px;
    background-color: #ecf0f1;
    border-radius: 5px;
  }
  
  .progress {
    height: 100%;
    border-radius: 5px;
  }

  .speech-bubble {
    position: absolute;
    bottom: 115%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    display: block;
    color: #fff;
    background-color: #fff; 
    border-radius: 5px;
    line-height: 15px;
  }
  
  .percentage {
    color: black;
  }

  .triangle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff; 
  }

.index_welcomeContainer h1 {
    position: absolute;
    display: inline-block;
    background-color: transparent;
    color: white;
    border-spacing: 50px;
    font-family: monospace;
    font-size: 75px;
    letter-spacing: 7px;
    top: 30%;
    left: 55%;
    height: 100px;
    z-index: 0;
}

#about_me {
    position: absolute;
    overflow: hidden;
    content: "";
    margin-top: -5%;
}

#blob1 {
    position: absolute;
    width: 660px;
    left: 10%;
    bottom: 6%;
    background-color: transparent;
    opacity: 90%;
    z-index: 0;
}

#blob2 {
    position: absolute;
    width: 725px;
    left: 3%;
    bottom: 10%;
    background-color: transparent;
    opacity: 95%;
    z-index: 0;
}

#blob3 {
    position: absolute;
    width: 300px;
    left: 2.75%;
    bottom: 15%;
    background-color: transparent;
    opacity: 95%;
    z-index: 0;
}

#firstName {
    margin-left: -125px;
    margin-bottom: -55px;
    color: #e59f1f;
    font-family: "Modak", system-ui;
    font-size: 100px;
}

#index_skillsMap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: rgb(43, 42, 48);
    height: 500px;
    width: 75%;
    color: #fdf6e7;
    margin-left: 12%;
    margin-bottom: 5px;
    padding-top: 50px;
    padding-bottom: 85px;
    border-radius: 20px;
}

#index_veryBottom {
    line-height: 40px;
    text-align: center;
    background-color: rgb(43, 42, 48);
    color: white;
    font-size: 20px;
}

#links_veryBottom {
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
}

#lastName {
    margin-right: -125px;
    color: rgb(43, 42, 47);
    font-family: "Modak", system-ui;
    font-size: 100px;
    margin-bottom: -25px;
}

#links_picture {
    height: 650px;
    mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik03MC4zLC0yMi4zQzc5LjksNi43LDY4LjgsNDMsNDguMSw1NS40QzI3LjUsNjcuOSwtMi42LDU2LjUsLTI2LjUsMzguN0MtNTAuMywyMC44LC02Ny44LC0zLjQsLTYyLjMsLTI2LjhDLTU2LjksLTUwLjEsLTI4LjQsLTcyLjYsMSwtNzIuOUMzMC40LC03My4yLDYwLjcsLTUxLjQsNzAuMywtMjIuM1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
    mask-repeat: no-repeat;
    mask-position:center;
    mask-size: 130%;
    z-index: -1;
    margin-left: -20%;
    margin-right: -20%;
}

#links_scoochRight {
    margin-left: 60px;
}

#links_scooch {
    margin-left: -60px;
}

#sec1 {
    overflow-x: hidden;
    overflow-y: visible;
    padding-bottom: 75px;
    background-color: rgb(38, 37, 44);
}

#sec1 svg {
    margin-bottom: -100px;
}

#sec2 {
    overflow: hidden;
    background-color: #ffd586;
    margin-top: -100px;
}

#sec2 svg {
    margin-top: -100px;
}

#sec3 {
    overflow: hidden;
    background-color: #ffc457;
}

#sec3 svg {
    margin-top: -100px;
    transform: rotate(180deg);
}

#topBtn {
    overflow: hidden;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    padding-bottom: 1000px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
  }

#topBtn:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 0%;
    background: #eea41c;
    transform: translateX(-50%);
    border-radius: 40%;
    animation: fill 1.75s ease-in-out;
    z-index: -1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

#topBtn:hover {
background-color: #555;
transform: scale(1.25);
transition: transform 0.3s ease;
}

#topBtn img {
    height: 60px;
    animation:fadeIn 1s;
    animation-delay:1.15s;
    opacity: 0;
    -webkit-animation:fadeIn 1s;
    -webkit-animation-delay:1.15s;
    -o-animation:fadeIn 1s;
    -o-animation-delay:1.15s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.contact-container {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: rgb(38, 37, 44);
    font-size: 80px;
    margin-bottom: 5px;
    margin-top: -100px;
}

.contact-left-title hr {
    border: none;
    width: 200px;
    height: 5px;
    background-color: rgb(84, 84, 84);
    border-radius: 10px;
    margin-bottom: 20px;    
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: gray;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: rgba(255,165,0,1);
    cursor: pointer;
}



/* LINKS */

.dot{
    margin-top: 75px;
    height: 75px;
    width: 75px;
    background-color: #fff;
    border-radius: 50%;
}

.dot:hover {
    transition: transform .2s;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}

.links_dots {
    width: 100px;
    height: 625px;
    opacity: 0.8;
}

.links_page {
    overflow-x: hidden;
    color: white;
    background: linear-gradient(270deg, #a77ccb, #ee98c4, #ff4faac7, #d7a6ff);
    background-size: 400% 400%;

    -webkit-animation: links_gradient 15s ease infinite;
    -moz-animation: links_gradient 15s ease infinite;
    -o-animation: links_gradient 15s ease infinite;
    animation: links_gradient 15s ease infinite;
}

.links_page a {
    color: white;
}

.links_map {
    display: flex;
    justify-content: space-evenly;
    margin-left: -100px;
}

.links_map svg {
    position: absolute;
    height: 800px;
    top: 180px;
    right: 30%;
    opacity: 0.5;
    z-index: -1;
}

.links_macContent {
    color: black;
    display: flex;
    min-height: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
.links_macContent div {
    color: black;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.links_macContent div:hover {
    transition: transform .2s;
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    cursor: pointer;
}

.links_macContent img {
    align-self: center;
    margin: 5px;
    width: 60px;
    height: 60px;
}



/* PROJECTS */

.projectsContent h3 {
    margin-right: 10px;
    align-self: center;
}
.projectsMac-window_left {
    width: 75%;
    box-sizing: border-box; 
    padding: 5px; 
}

.projectsMac-window_left h3 {
    line-height: 20px;
    align-self: center;
    margin-left: 10px; 
}


/* KEYFRAMES */

@media (max-width: 800px) {
    .contact-inputs {
        width: 80vw;
    }
    .contact-right {
        display: none;
    }
}

@keyframes drip {
    to {
      top: 3000px;
    }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; } 
}

@-webkit-keyframes fadeIn{
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes fadeOut{
    from {opacity:1;}
    to {opacity:0;}
}

@-webkit-keyframes fadeOut{
    from {opacity:1;}
    to {opacity:0;}
}

@keyframes fill {
    from {
        top: 250px;
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        top: -50px;
        transform: translateX(-50%) rotate(360deg);
    }
}

@keyframes fillBar {
    to {
        width: 100%;
    }
}

@-webkit-keyframes links_gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes links_gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes links_gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes links_gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media (prefers-reduced-motion: no-preference) {
    .in-view {
        animation: fillBar 2.75s 1;
    }
  
    .not-in-view {
        opacity: 0;
    }
}

@media screen and (max-width: 1537px) {
    .index_aboutMe img {
        margin-bottom: -0px;
    }

    #firstName {
        margin-left: -125px;
        margin-bottom: -55px;
        color: #e59f1f;
        font-family: "Modak", system-ui;
        font-size: 90px;
    }

    #lastName {
        margin-right: -125px;
        color: rgb(43, 42, 47);
        font-family: "Modak", system-ui;
        font-size: 90px;
        margin-bottom: -25px;
    }

    .index_aboutMeBio p {
        padding: 25px;
        font-size: 23px;
        letter-spacing: 2px;
        border-top: 2px dashed rgb(38, 37, 44);
        border-bottom: 2px dashed rgb(38, 37, 44);
    }
}

@media screen and (max-width: 1465px){
    .index_welcomeContainer h1{
        font-size: 65px;
        left: 52%;
        top: 33%;
        margin-right: 0;
    }

    #blob1 {
        width: 560px;
        left: 12%;
        bottom: 7%;
        background-color: transparent;
        opacity: 90%;
        z-index: 0;
    }

    #blob2 {
        width: 625px;
        left: 5%;
        bottom: 7%;
        background-color: transparent;
        opacity: 95%;
        z-index: 0;
    }      

    #blob3 {
        width: 250px;
        left: 8.75%;
        bottom: 16%;
        background-color: transparent;
        opacity: 95%;
        z-index: 0;
    }
    .index_headerContainer img {
        position: relative;
        height: 650px;
    }
    
    nav {
        margin-bottom: -20px;
        font-size: 25px;
    }
}

@media screen and (max-width: 1353px) {
    .index_welcomeContainer h1{
        font-size: 55px;
        left: 52%;
        top: 33%;
    }

    #blob1 {
        width: 510px;
        left: 10%;
        bottom: 7%;
        background-color: transparent;
        opacity: 90%;
        z-index: 0;
    }

    #blob2 {
        width: 575px;
        left: 3%;
        bottom: 7%;
        background-color: transparent;
        opacity: 95%;
        z-index: 0;
    }      

    #blob3 {
        width: 200px;
        left: 8.75%;
        bottom: 16%;
        background-color: transparent;
        opacity: 95%;
        z-index: 0;
    }
    .index_headerContainer img {
        position: relative;
        height: 600px;
    }
    
    nav {
        font-size: 18px;
        font-weight: bold;
    }
}

@media screen and (max-width: 1218px) {
    .index_welcomeContainer h1{
        font-size: 45px;
        left: 52%;
        top: 33%;
    }

    #blob1 {
        width: 410px;
        left: 10%;
        bottom: 7%;
        background-color: transparent;
        opacity: 90%;
        z-index: 0;
    }

    #blob2 {
        width: 475px;
        left: 3%;
        bottom: 7%;
        background-color: transparent;
        opacity: 95%;
        z-index: 0;
    }      

    #blob3 {
        width: 150px;
        left: 8.75%;
        bottom: 16%;
        background-color: transparent;
        opacity: 95%;
        z-index: 0;
    }
    .index_headerContainer img {
        position: relative;
        height: 500px;
    }

    

    .index_aboutMe img {
        margin-bottom: 25px;
    }

    #firstName {
        margin-left: -125px;
        margin-bottom: -55px;
        color: #e59f1f;
        font-family: "Modak", system-ui;
        font-size: 80px;
    }

    #lastName {
        margin-right: -125px;
        color: rgb(43, 42, 47);
        font-family: "Modak", system-ui;
        font-size: 80px;
        margin-bottom: -25px;
    }

    .index_aboutMeBio p {
        padding: 25px;
        font-size: 18px;
        letter-spacing: 2px;
        border-top: 2px dashed rgb(38, 37, 44);
        border-bottom: 2px dashed rgb(38, 37, 44);
    }
}

@media screen and (max-width: 1041px) {
    .index_aboutMe img {
        margin-bottom: -25px;
        width: 50%;
    }

    #firstName {
        padding-top: 75px;
        margin-left: -125px;
        margin-bottom: -55px;
        color: #e59f1f;
        font-family: "Modak", system-ui;
        font-size: 70px;
    }

    #lastName {
        margin-right: -125px;
        color: rgb(43, 42, 47);
        font-family: "Modak", system-ui;
        font-size: 70px;
        margin-bottom: -25px;
    }

    .index_aboutMeBio p {
        padding: 25px;
        font-size: 16px;
        letter-spacing: 2px;
        border-top: 2px dashed rgb(38, 37, 44);
        border-bottom: 2px dashed rgb(38, 37, 44);
    }
}

@media screen and (max-width: 938px) {
    .index_welcomeContainer h1{
        font-size: 40px;
        left: 45%;
        top: 33%;
    }

    #blob1 {
        width: 410px;
        bottom: 7%;
        background-color: transparent;
        opacity: 90%;
        z-index: 0;
        margin-left: -10%;
        padding-left: 0;
        left: 0;
    }

    #blob2 {
        width: 475px;
        bottom: 7%;
        background-color: transparent;
        opacity: 95%;
        z-index: 0;
        margin-left: -20%;
        padding-left: 0;
        left: 0;
    }      

    #blob3 {
        width: 150px;
        bottom: 16%;
        background-color: transparent;
        opacity: 95%;
        z-index: 0;
        margin-left: -10%;
        padding-left: 0;
        left: 0;
    }
    .index_headerContainer img {
        position: relative;
        height: 500px;
        margin-left: -20%;
    }
}



@media screen and (max-width: 695px) {
    .index_welcomeContainer h1{
        font-size: 35px;
        font-weight: bold;
        left: 45%;
        top: 33%;
    }

    #blob1 {
        width: 375px;
        bottom: 7%;
        background-color: transparent;
        opacity: 90%;
        z-index: 0;
        margin-left: -20%;
        padding-left: 0;
        left: 0;
    }

    #blob2 {
        width: 450px;
        bottom: 7%;
        background-color: transparent;
        opacity: 95%;
        z-index: 0;
        margin-left: -30%;
        padding-left: 0;
        left: 0;
    }      

    #blob3 {
        width: 125px;
        bottom: 16%;
        background-color: transparent;
        opacity: 95%;
        z-index: 0;
        margin-left: -10%;
        padding-left: 0;
        left: 0;
    }

    .index_headerContainer img {
        position: relative;
        height: 450px;
        margin-left: -22%;
    }
}

@media screen and (max-width: 619px) {
    .index_welcomeContainer h1{
        font-size: 25px;
        font-weight: bold;
        left: 49%;
        top: 33%;
    }
}

@media screen and (max-width: 520px) {
    .index_welcomeContainer h1{
        font-size: 20px;
        font-weight: bold;
        left: 49%;
        top: 33%;
    }
    
    #blob1 {
        width: 300px;
        bottom: 7%;
        background-color: transparent;
        opacity: 90%;
        z-index: 0;
        margin-left: -20%;
        padding-left: 0;
        left: 0;
    }

    #blob2 {
        width: 350px;
        bottom: 7%;
        background-color: transparent;
        opacity: 95%;
        z-index: 0;
        margin-left: -30%;
        padding-left: 0;
        left: 0;
    }      

    #blob3 {
        width: 125px;
        bottom: 16%;
        background-color: transparent;
        opacity: 95%;
        z-index: 0;
        margin-left: -10%;
        padding-left: 0;
        left: 0;
    }

    .index_headerContainer img {
        position: relative;
        height: 350px;
        margin-left: -18%;
    }

    nav {
        padding: 55px;
    }
}




/* LINKS SIZES */

@media screen and (max-width: px) {

}