a:link { 
    text-decoration: none; 
    color: inherit;
} 

a:visited { 
    text-decoration: none; 
    color: inherit;
} 

a:active { 
    text-decoration: none;
    color: inherit;
}

html {
    background-color: rgb(38, 37, 44);
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: auto; 
}
 
html::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: auto;
    padding: 50px;
    justify-content: center;
    text-align: center;
    font-size: 2vw;
    z-index: 9999;
    align-items: center;
}

nav a {
    width: auto;
    height: auto;
    position: relative;
    letter-spacing: 5px;
    margin: 15px 50px;
    padding-bottom: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: scale(1);
    transition: transform 0.3s ease;
    z-index: 99;
}

nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    z-index: 99;
  }

nav a:hover {
    transform: scale(1.25);
    transition: transform 0.3s ease;
    z-index: 99;
}

nav a:hover:after { 
    width: 100%; 
    left: 0; 
    z-index: 99;
  }

div {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}
  
div::-webkit-scrollbar {
    display: none;
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(51, 51, 60);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.loader-wrapper.fade-out {
    opacity: 0;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fade_in {
    animation: fadeIn 1.5s;
    -webkit-animation:fadeIn 1s;
    -o-animation:fadeIn 1s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.fade_out {
    animation: fadeOut 1.5s;
}

.title_container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title_container h1 {
    display: inline-block;
    background-color: transparent;
    font-family: monospace;
    font-size: 75px;
    letter-spacing: 7px;
}

.mac-window {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 80vw;
    height: 65vh;
    margin: auto;
    margin-bottom: 25px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.index_mac-window {
    overflow: hidden;
    background-color: #1e1e1f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 45vw;
    max-height: 50vh;
    padding-bottom: 20%;
}

.index_discordBot {
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: filter 0.3s ease;
    z-index: 1;
}

.index_IRWA {
    background-image: url(pictures/IRWA.png);
    background-size: cover;
}

.title-bar {
    background-color: #F0F0F0;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.index_title-bar {
    background-color: #323938;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.mac-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.red { background-color: #FF6059; }
.yellow { background-color: #FFD74D; }
.green { background-color: #4ACF50; }

.mac-window_left,
.mac-window_right {
    width: 50%;
    box-sizing: border-box; 
    padding: 5px; 
}

.mac-window_left h3 {
    line-height: 20px;
    align-self: center;
    margin-left: 10px; 
}

.mac-window_right h3 {
    align-self: center;
    margin-left: 10px;
}



/* INDEX */

.drop {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    top: -30px;
    right: 65px;
    background: #fcb126;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-animation-name: drip;
    -webkit-animation-name: drip;
    animation-name: drip;
    -moz-animation-timing-function: cubic-bezier(1,0,.91,.19);
    -webkit-animation-timing-function: cubic-bezier(1,0,.91,.19);
    animation-timing-function: cubic-bezier(1,0,.91,.19);
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
  
  .drop:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 30px solid #fcb126;
    top: -22px;
  }

.index {
    background-color: rgb(38, 37, 44);
}

.index a {
    color: white;
}

.grid_item1 { 
    grid-area: myName; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.25;
    padding: 25px;
}
.grid_item2 { 
    grid-area: myPic1;
    border-radius: 20px;

}

.grid_item3 { 
    grid-area: myBio;
    padding: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 450;
    line-height: 1.75;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
.grid_item4 {
    grid-area: myPic2; 
    border-radius: 20px;
}
.grid_item5 { 
    grid-area: myGoal;
    padding: 50px; 
    width: 80;
    text-align: left;
    line-height: 1.75;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 450;
}

.grid_item1 p {
    font-size: 1.5vw;
    font-weight: 475;
}

.grid_item1 h2 {
    font-size: 4vw;
    color: #fcb126;
}

.grid_item3 p {
    max-width: 80%;
    font-size: 0.85vw;
}

.grid_item5 p {
    font-size: 0.85vw;
}

.grid_item5 h2 {
    font-size: 2vw;
}

.index_aboutMe {
    width: 100%;
    display: flex;
    justify-content: center;
}

.index_aboutMeGrid {
    height: auto;
    width: 55%;
    display: grid;
    grid-template-areas:
      'myName myName myName myName myPic1 myPic1'
      'myBio myBio myBio myBio myPic1 myPic1'
      'myPic2 myPic2 myGoal myGoal myGoal myGoal';
    gap: 20px;
    background-color: #fff5de;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.index_aboutMeBio {
    display: inline-block;
    width: 40%;
}

.index_projects {
    overflow: hidden;
}

.index_projects nav {
    width: 100%;
}

.index_projectsRow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5%;
}

.index_projectsColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 100%;
    flex: 1;
}

.index_projectsTitle {
    display: flex;
    justify-content: center;
}

.index_projectPicture {
    position: relative;
    display: inline-block; 
    margin-left: 10%;
    margin-right: 2%;
}

.blurImage {
    display: block;
    width: 100%;
    height: auto;
    transition: filter 0.3s;
}

.hoverButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1vw;
    font-weight: 450;
    width: auto;
    height: auto;
    padding: 3% 5%;
    pointer-events: auto;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    border: none;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
}

.index_projectPicture:hover .blurImage {
    filter: blur(5px);
}

.index_projectPicture:hover .hoverButton {
    background-color: lightgray;
    opacity: 0.75;
}

.hoverButton:hover {
    opacity: 0.75; /* Keep the button visible */
    filter: none; /* Ensure the button itself is not blurred */
    background-color: lightgray; /* Darker background color on hover */
}

.gridDisplay {
    background-color: white;
    height: 100%;
    border-radius: 20px;
}

#index_aboutMe {
    width: 100%;
    background-color: #fff5de;
    overflow-x: hidden;
    overflow-y: visible;
    height: auto;
}

.index_headerContainer {
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
}

.smallScreenNav {
    display: none;
}

.index_headerHeadGraphic {
    display: flex;
    width: 100%;
    height: auto;
}

.index_headerMemoji {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 8%;
}

.index_welcomeContainer {
    display: flex;
    justify-content: center;
    text-align: left;
    width: 75%;
    margin-right: 10%;
    margin-top: 10%;
}

.index_welcomeContainer h1 {
    background-color: transparent;
    color: white;
    font-family: monospace;
    font-size: 4vw;
    letter-spacing: 7px;
    height: auto;
    z-index: 0;
}

#blob1 {
    position: absolute;
    width: 30%;
    height: auto;
    left: 15%;
    top: 6%;
    background-color: transparent;
    opacity: 90%;
    z-index: 0;
}

#blob2 {
    position: absolute;
    width: 35%;
    left: 5%;
    top: 0;
    background-color: transparent;
    opacity: 95%;
    z-index: 0;
}

#blob3 {
    position: absolute;
    width: 20%;
    background-color: transparent;
    opacity: 95%;
    z-index: 0;
    top: 35%;
    left: 14%;
}

#index_veryBottom {
    text-align: center;
    background-color: rgb(43, 42, 48);
    color: white;
    font-size: 1.15vw;
    line-height: 50px;
}

#links_veryBottom {
    line-height: 40px;
    text-align: center;
    color: white;
    font-size: 20px;
}

#links_picture {
    overflow: hidden;
    width: 85%; 
    height: auto;
    mask-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHZpZXdCb3g9IjAgMCAyMDAgMjAwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGZpbGw9IiNGRjAwNjYiIGQ9Ik03MC4zLC0yMi4zQzc5LjksNi43LDY4LjgsNDMsNDguMSw1NS40QzI3LjUsNjcuOSwtMi42LDU2LjUsLTI2LjUsMzguN0MtNTAuMywyMC44LC02Ny44LC0zLjQsLTYyLjMsLTI2LjhDLTU2LjksLTUwLjEsLTI4LjQsLTcyLjYsMSwtNzIuOUMzMC40LC03My4yLDYwLjcsLTUxLjQsNzAuMywtMjIuM1oiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwMCAxMDApIiAvPgo8L3N2Zz4K);
    mask-repeat: no-repeat;
    mask-position:center;
    mask-size: 150%;
    z-index: 1;
    margin-top: 10%;
}

#links_scoochRight {
    margin-left: 60px;
}

#links_scooch {
    margin-left: -60px;
}

#sec1 {
    overflow-x: hidden;
    overflow-y: visible;
    background-color: rgb(38, 37, 44);
}

#sec1 svg {
    z-index: -1;
    margin-bottom: -5%;
}

#sec2 {
    overflow: hidden;
    background-color: #ffd586;
}

#sec2 svg {
    margin-top: -100px;
}

#sec3 {
    overflow: hidden;
    background-color: #ffc457;
}

#sec3 svg {
    margin-top: -75px;
    transform: rotate(180deg);
}

#topBtn {
    overflow: hidden;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    padding-bottom: 1000px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
  }

#topBtn:before {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    top: 0%;
    background: #eea41c;
    transform: translateX(-50%);
    border-radius: 40%;
    animation: fill 1.75s ease-in-out;
    z-index: -1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

#topBtn:hover {
background-color: transparent;
transform: scale(1.25);
transition: transform 0.3s ease;
}

#topBtn img {
    height: 60px;
    animation:fadeIn 1s;
    animation-delay:1.15s;
    opacity: 0;
    -webkit-animation:fadeIn 1s;
    -webkit-animation-delay:1.15s;
    -o-animation:fadeIn 1s;
    -o-animation-delay:1.15s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.contact-container {
    width: auto;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.contact-left-title h2 {
    font-weight: 600;
    color: rgb(38, 37, 44);
    font-size: 5vw;
    margin-bottom: 5px;
}

.contact-left-title hr {
    border: none;
    width: 70%;
    height: 5px;
    background-color: rgb(84, 84, 84);
    border-radius: 10px;
    margin-bottom: 20px;    
}

.contact-inputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: gray;
    border-radius: 50px;
}

.contact-left textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs:focus {
    border: 2px solid #ff994f;
}

.contact-inputs::placeholder {
    color: #a9a9a9;
}

.contact-left button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: rgba(255,165,0,1);
    cursor: pointer;
}



















.logo-container {
    font-family: "Exo", sans-serif;
    font-weight: 500;
    flex: 0 0 auto;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: normal;
    text-align: center;
}
    


/* LINKS */

.dot{
    margin-top: 75px;
    margin-left: 5px;
    margin-right: 5px;
    height: 75px;
    width: 75px;
    background-color: #fff;
    border-radius: 50%;
}

.dot:hover {
    transition: transform .2s;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05); 
}

.links_dots {
    position: relative;
    margin-left: 2%;
    width: 200px;
    height: 625px;
    opacity: 0.8;
    z-index: 999;
}

.links_page {
    overflow-x: hidden;
    overflow-y: scroll;
    color: white;
    background: linear-gradient(270deg, #a77ccb, #ee98c4, #ff4faac7, #d7a6ff);
    background-size: 400% 400%;

    -webkit-animation: links_gradient 15s ease infinite;
    -moz-animation: links_gradient 15s ease infinite;
    -o-animation: links_gradient 15s ease infinite;
    animation: links_gradient 15s ease infinite;
}

.links_page a {
    color: white;
}

.links_map {
    overflow-x: visible;
    display: flex;
    justify-content: center;
}

.links_pictureDiv {
    width: auto;
    background-size: 110%;
    background-image: url(pictures/linksBlob.png);
    background-repeat: no-repeat;
    background-position-x: 66%;
    background-position-y: 20%;
}

.links_macContent {
    position: relative;
    color: black;
    display: flex;
    min-height: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}
.links_macContent div {
    color: black;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.index_macContent {
    color: #fefefe !important;
    display: flex;
    flex-direction: column;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.15vw;
}
.index_macContent div {
    color: black;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

pre {
    white-space: pre-wrap; /* Preserve white space and wrap text */
    word-wrap: break-word; /* Ensure long words break */
    position: relative;
    color: #fefefe !important;
  }
  
  pre::before {
    content: "> ";
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fefefe !important;
  }
  
  .terminal-line {
    position: relative;
    padding-left: 20px;
    color: #fefefe !important;
  }
  
  .terminal-line::before {
    content: "> ";
    position: absolute;
    left: 0;
    color: #fefefe !important;
  }

#terminal {
    color: #fefefe !important;
}

.index_projectsButtonDiv {
    width: 100%;
}

.index_moreProjectsButton {
    width: auto;
    font-weight: 500;
}

.index_moreProjectsButton:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    margin-top: 40px;
    left: 50%;
    position: absolute;
    background: #323938;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    z-index: 99;
  }

.hover:hover {
    transition: transform .2s;
    -ms-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    cursor: pointer;
}

.links_macContent img {
    align-self: center;
    margin: 5px;
    width: 60px;
    height: 60px;
}



/* PROJECTS */

.projectsContent h3 {
    margin-right: 10px;
    align-self: center;
}
.projectsMac-window_left {
    width: 90%;
    box-sizing: border-box; 
    padding: 5px; 
}

.projectsMac-window_left h3 {
    line-height: 20px;
    align-self: center;
    margin-left: 10px; 
}


/* KEYFRAMES */

@keyframes drip {
    to {
      top: 3000px;
    }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; } 
}

@-webkit-keyframes fadeIn{
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes fadeOut{
    from {opacity:1;}
    to {opacity:0;}
}

@-webkit-keyframes fadeOut{
    from {opacity:1;}
    to {opacity:0;}
}

@keyframes fill {
    from {
        top: 250px;
        transform: translateX(-50%) rotate(0deg);
    }
    to {
        top: -50px;
        transform: translateX(-50%) rotate(360deg);
    }
}

@keyframes fillBar {
    to {
        width: 100%;
    }
}

@-webkit-keyframes links_gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes links_gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes links_gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes links_gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@media (prefers-reduced-motion: no-preference) {
    .in-view {
        animation: fillBar 2.75s 1;
    }
  
    .not-in-view {
        opacity: 0;
    }
}

@media only screen and (min-width: 2400px) {
    #sec2 svg {
        margin-top: -6%
    }
}

@media only screen and (min-width: 1800px) {
    #sec3 svg {
        margin-top: -10%
    }
}

@media only screen and (max-width: 1100px) {
    nav {
        font-size: 2vh;
    }


    .index_aboutMeGrid {
        width: 70%;
        margin-bottom: 10%; 
    }
}

@media only screen and (max-width: 900px) {
    nav {
        flex-wrap: wrap;
    }

    nav a {
        display: flex;
        width: auto;
        justify-content: center;
    }

    .index_aboutMeGrid {
        width: 70%;
        gap: 9px;
    }

    #topBtn::before {
        width: 200px;
        height: 200px;
    }

    .projectsMac-window_left {
        width: 100%;
    }

    .mac-button {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;
    }
}

@media only screen and (max-width: 800px) {

    nav a {
        font-size: 1.5vh;
    }

    .index_aboutMeGrid {
        width: 80%;
        gap: 8px;
    }

    #sec2 svg {
        margin-top: -75px;
    }
}

@media only screen and (max-width: 700px) {
    .mac-button {
        width: 8px;
        height: 8px;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        margin-bottom: -10%;
    }

    nav a {
        font-size: 1.25vh;
    }

    .index_aboutMeGrid {
        width: 90%;
    }

    #sec2 svg {
        margin-top: -50px;
    }

    #sec3 svg {
        margin-top: -50px;
    }
}

@media only screen and (max-width: 500px) {
    .mainNav {
        display: none;
    }

    .smallScreenNav {
        display: block;
        width: 10%;
    }

    .smallScreenNav a {
        font-size: 1.5vw;
    }

    .index_welcomeContainer {
        width: 100%;
        margin-top: 20%;
    }

    .index_welcomeContainer h1 {
        font-size: 3vw;
    }

    .index_headerMemoji {
        display: none;
    }

    #blob1 {
        left: 58%;
        top: 26%;
    }

    #blob2 {
        left: 48%;
        top: 16%;
    }

    #blob3 {
        left: 48%;
        top: 50%;
    }

    .index_moreProjectsButton {
        margin-bottom: 5%;
    }

    .index_aboutMeGrid {
        width: 100%;
    }
}
