* {
    margin: 0;
    padding: 0;
}

button {
    color: blueviolet;
    
}

body header {
    text-align: center;
    padding: 100px;
    background-image: url(/pictures/header_background.jpg);
    background-size: 100%;
}